.color-result {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
.red {
    background: red;
}
.green {
    background: green;
}
.yellow {
    background: yellow;
}
.table {
    border-collapse: collapse;
    border: 1px solid #000;
}